.editor_container {
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

#current_open_file_controls {
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
}

#current_open_file_controls>div {
  flex: auto;
}

#current_open_file_controls>.InputRow {
  flex-grow: 4;
  min-width: 0;
}

.placeholder_editor {
  flex: auto;
  padding-top: 10px;
  text-align: center;
}

.editor, #no_file_editor_placeholder {
  flex: auto;
  overflow-y: scroll;
  padding: 9px 8px;
}

.editor {
  padding-left: 32px;
}

#no_file_editor_placeholder {
  display: flex;
  flex-direction: column;
}

#no_file_editor_placeholder[hidden] {
  display: none;
}
