.landing-root {
    flex-grow: 1,
};

.menuButton {
    margin-right: 200px;
    width: 5%;
};

.title {
    flex-grow: 1;
    font-family: Bungee;
}

.custom-navbar {
    background-color: #1E3D59;
}
