.sticky-navbar {
  width: 100%;
  transition: all 0.7s ease-in;
  z-index: 1;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

.menuButton {
  margin-right: 200px;
  width: 5%;
}

.custom-navbar {
  background-color: #1e3d59;
  height: 64px;
}
