#current_file_container {
  padding: 0 4px 6px;
  margin: 0 8px;
}

#current_file_container > .InputRow {
  margin-top: 3px;
}

#current_file_container > .InputRow:first-child {
  margin-top: 0;
}

#create_file_buttons_row {
  padding: 6px 4px;
  margin: 0 12px;
  border-bottom: 3px solid darkgray;
  display: flex;
}

#create_view_dropdown_button {
  position: relative;
  margin-left: 5px;
}

#create_view_dropdown_button > div > button {
  margin-top: 1px;
}

#create_view_dropdown_button > div,
#create_view_dropdown_button > button[disabled],
#create_view_dropdown_button:hover > button:first-child {
  display: none;
}

#create_view_dropdown_button:hover > button[disabled] {
  display: block;
}

#create_view_dropdown_button:hover > div {
  position: absolute;
  left: 0;
  right: -36px;
  display: flex;
  flex-direction: column;
}

#file_list_container {
  padding: 6px 8px;
  flex: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#search_file_names_input_row {
  padding: 0 8px;
}

#new_document_button {
  margin-bottom: 10px;
}

#file_list,
#no_files_placeholder,
#filtered_files_placeholder {
  overflow: auto;
  padding: 0 12px;
  margin: 6px 0;
  list-style: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#file_list ul {
  padding: 0 0 0 12px;
  list-style: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#filtered_files_placeholder {
  margin-top: 0;
  font-size: 0.75em;
}

#create_source_name_input_row {
  padding: 0 12px;
}

#user_controls_container {
  border-top: 5px solid black;
  padding: 6px 4px 0;
  margin: 0 4px;
  display: flex;
  flex-direction: column;
}

#user_controls_container > button {
  margin-top: 3px;
}

#user_controls_container > button:first-child {
  margin-top: 0;
}

.file_list_item {
  padding: "2px 4px";
  display: "flex";
  align-items: "center";
  width: 400;
}

.file_list_input {
  margin-left: 1;
  flex: 1;
}

.MuiPopover-paper {
  overflow: hidden;
}

.fileList-viewRoot {
  padding: "2px 4px";
  display: "flex";
  align-items: "center";
  width: 200;
}

.fileList-input {
  margin-left: 10px;
  flex: 1;
}

.fileList-iconButton {
  padding: 5;
}

.fileList-divider {
  height: 28;
  margin: 4;
}
