.BootstrapCard {
  max-width: 36em;
  min-height: 18em;
  margin: 10px auto;
  overflow-y: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.BootstrapCard::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.Card {
  padding: 25px;
}

/*make rich markdown editor background transparent*/
.Card div {
  background: transparent;
}
