.App {
  height: 100vh;
  width: 100vw;
}

.SidePane {
  width: 196px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid black;
}

.SearchBar, .FilterBar {
  width: calc(196px - 36px);
  position: fixed;
  top: 0;
  left: 0;
  margin: 6px 12px;
  padding: 6px;
  border-bottom: 1px solid darkgray;
}

.FilterBar {
  width: calc(100% - 196px - 36px);
  left: 196px;
}

.FilterBar input {
  width: calc(100% - 18px);
}

.SearchBar button, .SearchBar input, .FilterBar button, .FilterBar input {
  margin: 4px 0 0 4px;
  padding: 2px;
}

.SearchBar input {
  width: calc(100% - 36px);
}

.Navigator, .Editor {
  position: fixed;
  top: 72px;
  bottom: 0;
  overflow: scroll;
}

.Navigator {
  width: 148px;
  left: 0;
  white-space: nowrap;
}

.Editor {
  width: calc(100% - 196px - 90px);
  left: 196px;
  margin: 1em 20px 1em 10px;
  padding: 0 30px;
}
