.App {
  height: 100vh;
  width: 100vw;
}

.SidePane {
  width: 212px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid black;
}

.SearchBar, .FilterBar {
  width: calc(212px - 36px);
  position: fixed;
  top: 0;
  left: 0;
  margin: 6px 12px;
  padding: 6px;
  border-bottom: 5px solid darkgray;
}

.FilterBar {
  width: calc(100% - 212px - 36px);
  left: 212px;
}

.FilterBar input {
  width: calc(100% - 18px);
}

.SearchBar button, .SearchBar input, .FilterBar button, .FilterBar input {
  margin: 4px 0 0 4px;
}

.SearchBar input {
  width: calc(100% - 72px);
}

.Navigator, .Editor {
  position: fixed;
  top: 72px;
  bottom: 0;
  overflow: scroll;
}

.Navigator {
  width: 176px;
  left: 0;
  white-space: nowrap;
  font-size: .9em;
  list-style: none;
  margin: 4px 0px 0px 8px;
  padding-inline-start: 8px;
}

.Navigator>li {
  padding: 8px 0px 0px;
  border-bottom: 3px solid black;
}

.Navigator>li:last-child {
  border-bottom: 0px;
}

.Navigator li ul {
  margin: 4px 0px 3px;
  padding: 4px 0px 3px;
  border-top: 2px solid slategray;
  list-style: none;
  padding-inline-start: 16px;
}

.Navigator li ul li ul {
  border-top: 1px solid darkgray;
  padding-inline-start: 20px;
}

.Editor {
  width: calc(100% - 212px - 90px);
  left: 212px;
  margin: 1em 20px 1em 10px;
  padding: 3px 30px;
}
