* {
  box-sizing: inherit;
}

.App {
  height: 100vh;
  min-width: 680px;
  box-sizing: border-box;
  display: flex;
}

.NoApp {
  display: none;
}

@media (max-width: 520px) {
  .App {
    display: none;
  }

  .NoApp {
    display: block;
  }
}

.SidePane {
  flex: none;
  width: 224px;
  padding: 9px 0;
  border-right: 3px solid darkgray;
  display: flex;
  flex-direction: column;
}

.MainPane {
  flex: auto;
  padding: 9px 8px;
  display: flex;
}

.MarginPane {
  flex: none;
  width: 184px;
  padding: 9px 4px;
  display: flex;
  flex-direction: column;
}

.InputRow, .ButtonRow {
  display: flex;
}

.ButtonRow {
  padding: 1px 0;
}

.InputRow>input, .ButtonRow>:first-child {
  flex: auto;
  text-align: left;
  text-overflow: ellipsis;
  min-width: 0;
}

.InputRow>input, .InputRow>button, .ButtonRow input, .ButtonRow button {
  margin-left: 1px;
}

.InputRow>:first-child, .ButtonRow>:first-child {
  margin-left: 0;
}

.MonospaceCharButton {
  font-family: monospace;
}

.PlaceholderDivWithText {
  font-size: .85em;
  color: slategray;
}
